html
    head
        include components/meta
        script(type="text/javascript" src="dist/lib/lazyload.js")
        style.
            body.fixed {
                overflow: hidden;
            }

            body header.visible {
                background-color: rgba(20, 20, 20, 0.7);
                backdrop-filter: blur(10px);
            }
    body
        include components/header
        +header('drama')
        .placeholder
            - var m = 0
            - var n = 0
            - var o = 0
            - var p = 0
            .placeholder-list
                while m < 10
                    .placeholder-item= m++
            .placeholder-list
                while n < 10
                    .placeholder-item= n++
            .placeholder-list
                while o < 10
                    .placeholder-item= o++
            .placeholder-list
                while p < 10
                    .placeholder-item= p++

        iframe(class="videoLoader" allowfullscreen)
        .drama-list-wrapper.flex
            // recently
            // hk-drama
            // hk-variety
            // movies
            -
                var nameMap = {
                     'movies': 'Movies 电影',
                     'hk-drama' : 'Hong Kong Drama 香港电视剧',
                     'hk-variety' : 'Hong Kong Variety 香港综艺节目',
                     'recently' : 'Recently Updated 最近更新',
                     'search': 'Search Result'
                }
            .drama-title= nameMap[title]
            .drama-list#dramaList
                for item in content
                    a.drama-item(href="/episode?" + item.url, data-url="/api/episode?" + item.url, data-title-en= item.title.trim().split('-')[0], data-title-cn= item.title.trim().split('-')[1], data-img= item.image)
                        img(data-src= item.image)
                        h3.title= item.title.trim().split('-')[0]
                            br
                            = item.title.trim().split('-')[1]
            .episode-wrapper
        script.
            setTimeout(function() {
                $(".placeholder").addClass("ready");
            }, 0)

            setTimeout(function () {
                $(".placeholder").remove();
            }, 300);

            $(document).ready(function(){
                // $('.drama-item img').lazy();
                // $('.drama-item img').unveil();
                $('.drama-item img').lazyload();
            })

            // $(window).scroll(function() {
            //     console.log($('.drama-item').is(':in-viewport'))
            // })

            // $('#dramaList').easyPaginate({
            //     paginateElement: '.drama-item',
            //     elementsPerPage: 20,
            // });